Django>=4.0,<5.0
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt[crypto]>=5.2,<5.4 # [crypto] is needed for blacklist
django-cors-headers>=3.13,<4.4
requests>=2.31
gunicorn>=21.2
python-dotenv>=0.20,<1.1
psycopg2-binary>=2.9,<2.10 # Even if starting with SQLite, include for easy switch
dj-database-url>=1.0,<2.2 # For parsing DATABASE_URL easily
Pillow>=9.0,<11.0 # For ImageField support and image processing