Django>=4.0,<5.0
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt[crypto]>=5.2,<5.4 # [crypto] is needed for blacklist
django-cors-headers>=3.13,<4.4
requests>=2.31
gunicorn>=21.2
psycopg2-binary>=2.9
python-dotenv>=1.0
dj-database-url>=1.0 