Django>=4.0,<5.0
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt[crypto]>=5.2,<5.4
django-cors-headers>=3.13,<4.4
gunicorn>=20.1,<22.0
python-dotenv>=0.20,<1.1
psycopg2-binary>=2.9,<2.10
requests>=2.28,<2.32
Pillow>=9.0,<10.3
python-magic>=0.4,<0.5

# Celery e Broker
celery>=5.3,<5.4
librabbitmq>=2.0,<3.0 # O redis

# NUOVE Dipendenze per Analisi File
pandas>=1.5,<2.3
pypdf2>=3.0,<4.0 # Nota: il nome del pacchetto è pypdf2
python-docx>=1.1,<1.2
dj-database-url>=1.0,<2.3 # O versione più recente compatibile

# Opzionale: per risultati Celery
# django-celery-results>=2.5,<2.6

# Opzionale: per storage S3
# django-storages[boto3]>=1.14,<1.15